#manual-tecnico-de {
    text-align:center;
}

#arborizacao-urbana {
    text-align: center;
}


#municipio-de-ivoti-rs {
    text-align:center;
}

#prefeito-municipal-martin-cesar-kalkmann {
    text-align:center;
}

p {
    text-align: justify;
}

.legenda {
    text-align: left
}