#manual-tecnico-de {
    text-align:center;
}

#arborizacao-urbana {
    text-align: center;
}


#municipio-de-tres-coroas-rs {
    text-align:center;
}

p {
    text-align: justify;
}

.legenda {
    text-align: left
}